.loginCardWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../images/dog.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.loginCard {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 500px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nameInput,
.emailInput {
  margin-bottom: 10px;
}
